# Agora RTC & Messaging Developer Credentials
# Obtain these from https://console.agora.io
AGORA_APP_ID=5f80f33fd1d74126a1a810b136401168
AGORA_APP_CERTIFICATE=3f98aba92ac3451dbc52bd9d2cd67b33
AGORA_DEFAULT_CHANNEL=wtf_flutter_test
PORT=8080
